@charset "UTF-8";
html, body{scroll-behavior: smooth;}

.skip-menu a{
  position: fixed; z-index: 999; left: 0; top: -9999px; 
  width: 100%; text-align: center; padding: 8px; background-color: var(--core-gold); color: var(--text-white); }
.skip-menu a:focus {top: 0;}

/* 섹션 영역 시작 */
#about-wrap{padding-top: 120px;}

#about-visual{position: relative; width: 100%; height: 818px; background-color: var(--core-blue); overflow: hidden; color: var(--text-white);}
#about-visual .bg-rotate-txt{position: absolute; top: -220px; right: -100px; width: 383px; height: 383px; background: url(../img/rotate_txt_383x383.png) no-repeat center center/cover; animation: spinBgLogo 15s linear infinite;}

#about-visual .about-shortcut-menu-wrap{position: absolute; top: 78px; left: 50%; transform: translateX(-50%); width: 368px; height: 140px; text-align: center;}
.about-shortcut-menu-wrap .about-shortcut-menu-title{margin-bottom: 30px; font-size: 60px; font-weight: bold; font-family: var(--font-garamond); letter-spacing: 0;}
.about-shortcut-menu-wrap .about-shortcut-menu {display: flex; justify-content: space-between; font-size: 20px; font-weight: 300;}

/* 섹션 타이틀. identity섹션에도 동일하게 적용 */
#about-visual .about-title-wrap{position: relative; width: 100%; margin: 380px auto 0; text-align: center;}
.about-title-wrap .about-subtitle{display: flex; justify-content: center; align-items: center; width: 100%; font-size: 16px; font-family: var(--font-barlow);}
.about-subtitle>span{position: relative; margin: 0 15px 0 18px;}
.about-subtitle>span::before{position: absolute; top: calc(50% - 2px); left: -10px; content: ''; display: block; width: 4px; height: 4px; border-radius: 100%;}
.about-title-wrap .about-subtitle::after{content: ''; display: block; height: 1px;}
.about-title-wrap .about-title{position: absolute; z-index: 2; top: 36px; left: 50%; transform: translateX(-50%); width: 100%; letter-spacing: 0; font-size: 138px; font-weight: bold; font-family: var(--font-garamond); line-height: 1;}

/* visual섹션 타이틀 개별 스타일 */
.visual-title-wrap{max-width: 1200px;}
.visual-subtitle>span::before{background-color: #fff;}
.visual-subtitle::after{width: 72%; background-color: #fff;}
.visual-title{text-shadow: 7px 5px 13px rgba(0,0,0,0.3);}

#about-visual .visual-moving-pretzel{position: absolute; top: 90px; left: 50%; transform: translateX(-50%); width: 100%; height: 100%; background: url(../img/about/visual_pretzel_399x431.png)no-repeat center center; transition: top .1s;}

#auntie-story{position: relative; max-width: 2560px; margin: auto auto; overflow: hidden;}

#auntie-story .story-moving-pretzel{position: absolute; z-index: -1; top:-291px; left: 50%; transform: translateX(-50%); width: 317px; height: 291px; background: url(../img/about/visual_pretzel_dough_317x291.png)no-repeat center center; transition: top .1s;}

/* col 공통사항 */
#auntie-story .story-col-wrap{display: flex; width: 100%; padding-top: 100px; }
.story-col-wrap .story-left-col, .story-col-wrap .story-right-col{position: relative; width: 50%;}
#auntie-story .story-descr-wrap{ width: 100%;}
#auntie-story .story-descr{color: var(--text-black); font-size: 53px; font-weight: 300; line-height: 1.4; letter-spacing: -3.5px;}
#auntie-story .story-sub-descr{margin-top: 13px; color: #494949; font-size: 17px; font-weight: normal; line-height: -1em; letter-spacing: -1px;}
#auntie-story .story-img>img{position: relative; z-index: 1; object-fit: contain;}

/* left-col img & txt */
#auntie-story .story-img.bg-dough{text-align: right;}
#auntie-story .story-img .bg-dough{max-width: 84%; padding-right: 12%;}
#auntie-story .story-descr-wrap.descr-wrap-01{padding-top: 80px; padding-left: 15%;}
#auntie-story .story-img .bg-pretzel{width: 100%; max-width: 952px; padding-top:100px; }
#auntie-story .story-img .bg-spoon{width: 100%; max-width: 722px; padding-top: 65px;}

/* right-col img & txt */
#auntie-story .story-img .bg-makedough{padding-left: 12%; width: 100%;}
#auntie-story .story-img.bg-peanutbutter{text-align: right;}
#auntie-story .story-descr-wrap.descr-wrap-02{padding-left: 12%;}


#auntie-story .bg-txt{position: absolute; z-index: 0; font-weight: bold; font-family: var(--font-garamond); line-height: 1;}
#auntie-story .bg-txt.txt-pretzel{top: 40; right: -43px; color:rgba(255,254,254,0.7); font-size: 262px;}
#auntie-story .bg-txt.txt-butter{ color: rgba(255,245,227,0.7); font-size: 262px; }

#auntie-story .story-bg-video{width: 101%; margin-top: 124px; margin-bottom: 146px;}

#auntie-story .warmer-wrap{display: flex; justify-content: space-between; max-width: 1342px; margin: auto auto;}
.warmer-wrap .bg-txt.txt-warmer{position: absolute; top:50%; left: -15px; transform: translateY(-50%); font-size: 222px; color: rgba(219,198,167,0.15);}
.warmer-wrap .warmer-img-box{position: relative; top: -12vw; width: 601px; height: 600px; overflow: hidden; background-color: #f1f1f1;}

.warmer-img-box .warmer-img{display: block; position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%); width: 413px; transition: all .4s;}
.warmer-img-box .bg-warmer-hover{opacity: 0;}
.warmer-img-box:hover .bg-warmer{opacity: 0;}
.warmer-img-box:hover .bg-warmer-hover{transform: translate(-50%, -50%) scale(1.1); opacity: 1;}
#auntie-story .lemonade-wrap{text-align: center;}
.lemonade-wrap .lemonade-img-box{position: relative; margin-top: 54px;}
.lemonade-img-box .moving-lemon{position: absolute; animation: rotateMenuItem 3s ease infinite;}
.lemonade-img-box .lemon01{top:39%; left:10%;}
.lemonade-img-box .lemon02{top: 17%; left: 27%;}
.lemonade-img-box .lemon03{right: 31%;}
.lemonade-img-box .lemon04{right: 19%; bottom:34%;}
.lemonade-img-box .bg-lemonade{width:100%;}

@media (max-width: 1500px){
  #auntie-story .story-descr-wrap.descr-wrap-01{padding-left: 30px;}
}
@media (max-width: 1200px){
  #auntie-story .bg-txt.txt-pretzel, 
  #auntie-story .bg-txt.txt-butter{font-size: 200px;}
  .warmer-wrap .warmer-img-box { width: 44%; min-width: 413px;}
}
@media (max-width: 1400px){
  #auntie-story .story-descr{font-size: 36px;}
}

#identity{position: relative; max-width: 2560px; margin: auto auto; }
#identity .identity-title-wrap{max-width: 1260px; margin: 149px auto; color: var(--core-blue);}
/* .identity-title{max-width: 1260px;} */
.identity-subtitle>span::before{background-color: var(--core-blue);}
.identity-subtitle::after{width: 78%; background-color: var(--core-blue);}
.identity-title{text-align: center;}