@charset "UTF-8";

.skip-menu a{ position: fixed; left: 0; top: -9999px; width: 100%; z-index: 999; text-align: center; padding: 8px; background-color: var(--core-gold); color: var(--text-white); }
.skip-menu a:focus {top: 0;}

header{position: fixed; z-index: 999; display: flex; justify-content: space-between; align-items: center; width: 100%; height: 120px; padding: 0 30px; background-color: #fff;}
.header-inner{display: flex; justify-content: space-between; align-items: center; width: 100%; max-width: 1770px; margin: auto auto;}
header .main-logo{width: 265px; height: 100%; margin-top: 5px;}
.main-logo>a>img{width: 100%; object-fit: contain;}

header .gnb-container{display: flex;  align-items: center; justify-content: flex-end ; margin-right: 100px;}
.gnb-container .gnb-wrap{display: flex; color: #4b4b4b;}
.gnb-wrap .gnb-item{position: relative; padding: 30px 30px; font-size: 17px; font-weight: bold; text-align: center; transition: all .5s;}
.gnb-item .gnb-hover-line{width:0%; height: 2px; background-color: var(--core-gold);transition: width .5s;}
/* .gnb-item:hover .gnb-hover-line{width: 100%;} */
.gnb-item .gnb-submenu-wrap{display: none; position: absolute; top: 100%; left: 0; width: 208px; background-color: #fff; color: #4b4b4b; font-size: 15px; font-weight: normal; text-align: left; box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);}
.gnb-submenu-wrap .gnb-submenu-item{padding: 12px;}
.gnb-submenu-item>a{display: inline-block; width: 100%; height: 100%;}
.gnb-item .gnb-submenu-wrap.on{display: block;}

header.none-bg{background-color: transparent;}
header.none-bg .gnb-wrap{color: var(--text-white);}

.hamburger-wrap{position: fixed; z-index: 9999; top: 30px; right: 70px; cursor: pointer; overflow: hidden; width: 60px; height: 60px; border-radius: 50%; background-color: #fff; box-shadow: 4px 0px 13px 0px rgba(0,0,0,0.08); transition: background-color .4s;}
.hamburger-wrap .ham-line-wrap{position: absolute; margin: 23px 0 0 20px; width: 20px; height: 16px; transition: all .8s;}
.hamburger-wrap .ham-line{position: absolute; width: 100%; height: 2px; background-color: var(--core-blue); transition: all 1s ease-out;}
.hamburger-wrap .ham-line01{top: 0;} 
.hamburger-wrap .ham-line02-a, 
.hamburger-wrap .ham-line02-b{top: calc( 50% - 1px);} 
.hamburger-wrap .ham-line03{bottom: 0;}

.hamburger-wrap.on{background-color: var(--core-gold);}
.hamburger-wrap.on .ham-line-wrap{transform: rotate(180deg);}
.hamburger-wrap.on .ham-line{background-color: #fff;}
.hamburger-wrap.on .ham-line01{top: -26px;}
.hamburger-wrap.on .ham-line02-a{transform: rotate(45deg);} 
.hamburger-wrap.on .ham-line02-b{transform: rotate(-45deg);}
.hamburger-wrap.on .ham-line03{bottom: -26px;}

.whole-menu-container{position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 9990; display: none;}
.whole-menu-box-wrap{display: flex; flex-wrap: wrap; width: 77%; height: 100%;}
.whole-menu-box-wrap .whole-menu-box{width: 33.3333%; height: 50%; padding-top: 5.7%; padding-left: 5.5%; background-color: #004bba; color: var(--text-white);}
.whole-menu-box:nth-child(1),
.whole-menu-box:nth-child(2),
.whole-menu-box:nth-child(3){border-bottom: 1px solid rgba(255,255,255,0.1);}
.whole-menu-box:nth-child(1),
.whole-menu-box:nth-child(4){border-right: 1px solid rgba(255,255,255,0.1);}
.whole-menu-box:nth-child(3),
.whole-menu-box:nth-child(6){border-left: 1px solid rgba(255,255,255,0.1);}
.whole-menu-box .whole-menu-title{font-size: 50px; font-family: var(--font-garamond); font-weight: normal;}
.whole-menu-box .whole-menu-list{
  font-size: 20px;
}
@media (max-width: 1860px){
  .hamburger-wrap{right: 30px;} 
}
@media (max-width: 1200px){
  .gnb-wrap .gnb-item{padding: 30px 20px;}
}
@media (max-width: 989px){
  header .main-logo{max-width: 200px;}
  .gnb-wrap .gnb-item{font-size: 15px; padding: 27px 10px;}
}
@media (max-width: 767px){
  header .gnb-container{display: none;}
  .hamburger-wrap{width: 54px; height: 54px;}
  .hamburger-wrap .ham-line-wrap{width: 17px; height: 16px; margin: 18px 0 0 18px;}
}

.whole-menu-rightside{position: absolute; top: 0; right:0; bottom: 0; width: 23%; height: 100%; background: url(../img/whole_menu_rigth_side_bg.jpg)no-repeat 0 0/cover; color: var(--text-white); letter-spacing: -0.5px; line-height: 1.8;}
.whole-menu-rightside .rightside-info-wrap{position: absolute; bottom:30px;}
.rightside-info-wrap .right-side-title{font-size: 27px; font-family: var(--font-garamond); font-weight: 300;}
.rightside-info-wrap .right-side-txt{font-size: 16px; font-weight: 300;}
.whole-menu-container.on{display: block;}

/* 섹션 영역 시작 */
#about-main{width: 100%; height: 8180px; background-color: var(--core-blue);}