/* RESET CSS */
/* 교체하셔도 됩니다 */

* {margin: 0; padding: 0; box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

ul, li {list-style: none;}

a {text-decoration: none;}

div, header, nav, main, footer, section, article, ul, li {margin: 0; padding: 0; box-sizing: border-box;} 



/* FONT*/
/* 왜 안될깝쇼... */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap'); */
/* font-family: 'Noto Sans KR', serif; */

/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap'); */
/* font-family: 'Cormorant Garamond', sans-serif; */

/* @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600;700&display=swap'); */
/* font-family: 'Barlow Semi Condensed', serif; */



/* 공통 */

body {
  font-family: 'Noto Sans KR', serif;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: -1px;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  /* 탭됐을때 하이라이트 색 바꾸는 웹킷. 랜딩에서 텍스트 긁어보시면 골드로 바뀌는데 그거때문에 넣은듯. */
}

a {color: var(--text-white);}


.garamond_font {font-family: 'Cormorant Garamond', sans-serif; letter-spacing: normal;}
.barlow_font {font-family: 'Barlow Semi Condensed', serif; letter-spacing: normal;}



/* ROOT */

:root {
  --core-blue: #005ad5;
  --core-gold: #ffb500;
  --text-white: #ffffff;
  --text-black: #1C1C1C;
  --text-gray: #777777;
}