/* COMMON CSS */

* {margin: 0; padding: 0; box-sizing: border-box; -webkit-font-smoothing: antialiased;}
ul, li {list-style: none;}
a {text-decoration: none; color: inherit;}
div, header, nav, main, footer, section, article, ul, li {margin: 0; padding: 0; box-sizing: border-box;} 
h1, h2, h3, h4, h5, h6{font-size: 100%; font-weight: normal;}
img{vertical-align: top;}



/* 공통 */

body {
  font: 14px/1.6 'Noto Sans KR', serif;
  letter-spacing: -1px;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


/* ROOT */

:root {
  --core-blue: #005ad5;
  --core-gold: #ffb500;
  --text-white: #ffffff;
  --text-black: #1C1C1C;
  --text-gray: #777777;
  --font-notoSans: 'Noto Sans KR', serif;
  --font-garamond: 'Cormorant Garamond', sans-serif;
  --font-barlow: 'Barlow Semi Condensed', serif;
}


::selection{ background: var(--core-gold); color:var(--text-white);}
/* 드래그시 셀렉트부분 하이라이트 배경색, 글자색 변경하는 가상선택자 */
